{% extends 'home/base.html' %}
{% load gravatar %}
{% block content %}
    <h2>Success!</h2>
    <p>Profile for {{ person.username }} </p>
    <img src="{% gravatar_url person.email %}" style="width:100px; height: 100px; background-color: #12ABB2; color: #ffffff;" class="img-circle">
    {% for b in posts %}
    <div style="display: inline-block; width: 300px; background-color: red; padding: 5px; margin: 5px">
        <div style="background-color: white; padding: 5px; margin: 5px">{{b.title}} Views: {{b.views}}</div>
        <div style="background-color: white; padding: 5px; margin: 5px">Written By - <b><a href="{% url 'profile' person.id %}">{{b.author}}</a></b> 
            <a href="{% url 'blog' b.id %}">Read More</a></div>
        <div>Is it yours?
        <form action="edit/{{ b.id }}"><input type="submit" value="Edit"></form>
        <form action="delete/{{ b.id }}"><input type="submit" value="Delete"></form></div>
    </div>
    {% empty %}
        <p>You have nothing to do.</p>
    {% endfor %}
{% endblock content %}