{% extends 'home/base.html' %}
{% load gravatar %}
{% block content %}
<img src="{% gravatar_url user.email %}" style="width:100px; height: 100px; background-color: #12ABB2; color: #ffffff;" class="img-circle">
    
    <div class="container-fluid">
        <div class="row">
            {% for b in blog %}
            <div class="col-sm-3" style="padding-bottom:20px">
                <div class="col-sm-12" style="background-color: red; height: 200px">
                <div style="background-color: white; padding: 5px; margin: 5px">{{b.title}} Views: {{b.views}}</div>
                <div style="background-color: white; padding: 5px; margin: 5px">Written By - <b><a href="{% url 'profile' user.id %}">{{b.author}}</a></b> 
                    <a href="{% url 'blog' b.id %}">Read More</a>
                </div>
                <div class="col-sm-12 text-center">
                    <a href="{% url 'edit' b.id %}" class="btn btn-primary" role="button" aria-pressed="true">Edit</a>
                    <a href="{% url 'delete' b.id %}" class="btn btn-danger" role="button" aria-pressed="true">Delete</a>
                    {% if b.published_date %}
                    {% else %}
                    <a href="{% url 'publish' b.id %}" class="btn btn-success" role="button" aria-pressed="true">Publish</a>
                    {% endif %}
                </div>
                </div>
            </div>
            {% empty %}
                <p>You have nothing to do.</p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}