
body {
    font-family: Arial;
    padding-top: 80px;
    background-color: #ececec;
}

footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}
.nav {
    background-image: none;
    background-color: red;
    
}
.navbar-header{
    background-image: none;
    background-color: red;
    border-color: gray;
}
.navbar-default {
    background-image: none;
    background-color: red;
    border-bottom: solid gray 3px;
}
.navbar{
    background-image: none;
    background-color: red;
    border-color: gray;
}
.navbar-masthead{
    background-image: none;
    background-color: red;
    border-color: gray;
}
.navbar-fixed-top{
    background-image: none;
    background-color: red;
    border-color: gray;
}